body {
    background-image: url(../pic/clouds.webp);
    background-repeat: no-repeat; 
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
  }
 *{
  font-family: 'Montserrat', sans-serif;
 }